#root {
  display: flex;
  align-items: center;
  justify-content: center;
}
#root .app-container {
 min-width: 376px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.9);
}
#root .container-view {
  padding: 20px;
}
.view-wrapper {
  overflow-y: scroll;
}

.app-container {
  height: 100vh;
}